.cards{
    margin: 47px auto 0;
    max-width: 880px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 17px 20px;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 1279px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    
        max-width: 600px;
    }
}

@media screen and (max-width: 767px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        
       
    }
}