.card__like {
    background-image: url(../../../images/element-like.svg);
    padding: 0;
    width: 22px;
    height: 19px;
    border: 0;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: 5px;
    outline: none;
}

.card__like:hover {
    opacity: 0.5;
}